extends layout/app

block page 
    - var active="home"
    include chunk/header

    div#main-content.container 
        div.jumbotron 
            img.img-responsive.visible-xs(src="img/jumbotron_768.jpg" alt="Picture of restaurant")
        div#home-tile.row 
            .col-md-4.col-sm-6.col-xs-12 
                a(href="menu-categories.html")
                    #menu-tile 
                        span menu 
            .col-md-4.col-sm-6.col-xs-12 
                a(href="single-category.html")
                    #specials-tile 
                        span specials 
            .col-md-4.col-sm-12.col-xs-12 
                a(href="https://goo.gl/maps/NyTjUicNJcnCbgmg7" target="_blank")
                    #map-tile 
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3084.6750632317166!2d-76.7138767843739!3d39.36359442693343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c81a14e7817803%3A0xab20a0e99daa17ea!2sDavid%20Chu&#39;s%20China%20Bistro!5e0!3m2!1sru!2sua!4v1655535336782!5m2!1sru!2sua" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        span map 
                         
    include chunk/footer
    include chunk/js
