extends layout/app

block page 
    - var active="menu"
    include chunk/header

    div#main-content.container 
        h2#menu-categories-title.text-center Menu Categories 
        div.text-center Substituting white rice with brown rice or fried rice after 3:00pm will be $1.50 for a pint and $2.50 for a quad
        section.row 
            each item in menu
                .col-md-3.col-sm-4.col-xs-6.col-xxs-12
                    a(href="single-category.html")
                        .category-tile 
                            img(src=item.img width="200" height="200" alt="Lunch")
                            span=item.name

     
     
    include chunk/footer
    include chunk/js
